body {
  background-color: #DFA06E;
  height: 100%;
  text-align: center;
}

p{
  margin: 20px;
}

a{
  color: black;
 
}
a:hover{
  text-decoration: none;
  color: #fff;
}

#headerTitle {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Roboto', sans-serif;
  color: #FBFAE6;
}
.searchQuery {
  border-radius: 5px;
  border-width: 0;
  padding-left: 5px;
  width: 300px;
  height: 30px;
}

.results {
    width: 100%;
  
  padding: 50px;
 background: #DFA06E;
  border-left: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
}

.results:hover {
  border-left: 5px solid #CF9840;
}

.search-box-container a {
  text-transform: uppercase;
  color: #FBFAE6;
  text-decoration: none;

}

.topsection {
  margin-top: 5%;
}

