body {
  background-color: #DFA06E;
  height: 100%;
  text-align: center;
}

#headerTitle {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Roboto', sans-serif;
  color: #FBFAE6;
}
.searchQuery {
  margin-bottom: 10px;
	border-radius: 5px;
  border-width: 0;
  padding-left: 5px;
  width: 300px;
  height: 30px;
}


.search-box-container a {

	text-transform: uppercase;
	color: #FBFAE6;
	text-decoration: none;


}

.topsection {
  margin-top: 5%;
}




